sphinx
docutils
ansicolortags
sphinx_pyreverse
sphinx_git
sphinx_tabs
sphinxcontrib-autorun
#sphinxcontrib-bitbucket
sphinxcontrib-cheeseshop
#sphinxcontrib-gnuplot
sphinxcontrib-youtube
sphinx-copybutton
